﻿@model MvcOpdrachtTemplate.Models.Categorie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete?</h3>
<div>
    <h4>Categorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back To List", "List")
        </div>
    }
</div>
