﻿@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <h2>Lijst Van  Elektronische Componenten</h2>
        <p>
            Druk hier voor een lijst Van alle Componenten !!!
        </p>
        <p><a class="btn btn-default" href="~/ElektronischeComponent/List">Componenten</a></p>
    </div>
    <div class="col-md-6">
        <h2>Lijst Van Alle categorieën</h2>
        <p>Druk hier voor een lijst van Alle Categorieën</p>
        <p><a class="btn btn-default" href="~/Categorie/List">Categorieën</a></p>
    </div>

</div>