﻿@model MvcOpdrachtTemplate.Models.ElektronischComponent

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Elektronisch Component</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naam)
                @Html.ValidationMessageFor(model => model.Naam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link)
                @Html.ValidationMessageFor(model => model.Link)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aantal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aantal)
                @Html.ValidationMessageFor(model => model.Aantal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AankoopPrijs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AankoopPrijs)
                @Html.ValidationMessageFor(model => model.AankoopPrijs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategorieId, "CategorieId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategorieId", String.Empty)
                @Html.ValidationMessageFor(model => model.CategorieId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
   @Html.ActionLink("Back To List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
