﻿@model MvcOpdrachtTemplate.Models.ElektronischComponent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete?</h3>
<div>
    <h4>Elektronisch Component</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aantal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AankoopPrijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AankoopPrijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Naam)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
          @Html.ActionLink("Back To List", "List")
        </div>
    }
</div>
