﻿@model MvcOpdrachtTemplate.Models.ElektronischComponent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ElektronischComponent</h4>
    <hr />
    <dl class="dl-horizontal">



        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aantal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AankoopPrijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AankoopPrijs)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.Categorie.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back To List", "List")
</p>
